/*
 * CSS for registered block styles.
 * See styles/register-block-styles.php.
 */

/* Flat button */
.is-style-wp-block-theme-flat-button .wp-block-button__link,
.is-style-wp-block-theme-flat-button .wp-block-button__link:hover,
.is-style-wp-block-theme-flat-button .wp-block-button__link:focus,
.is-style-wp-block-theme-flat-button .wp-block-button__link:active,
.is-style-wp-block-theme-flat-button .wp-block-button__link:visited {
	margin-top: initial;
	margin-bottom: initial;
	border-radius: 0;
	box-shadow: none;
}

/* Button with shadow */
.is-style-wp-block-theme-shadow-button .wp-block-button__link,
.is-style-wp-block-theme-shadow-button .wp-block-button__link:hover,
.is-style-wp-block-theme-shadow-button .wp-block-button__link:focus,
.is-style-wp-block-theme-shadow-button .wp-block-button__link:visited {
	box-shadow: var(--wp--custom--button-shadow);
}

.is-style-wp-block-theme-shadow-button .wp-block-button__link:active {
	box-shadow: var(--wp--custom--button-highlight);
}
