.wp-block-button__link {
	box-shadow: var(--wp--custom--small-button-shadow);
}

.wp-block-button__link:focus,
.wp-block-button__link:hover {
	color: var(--wp--preset--color--foreground);
	box-shadow: var(--wp--custom--small-button-shadow);
	filter: brightness(94%) !important;
}

.wp-block-button__link:active {
	margin-top: 1px;
	margin-bottom: -1px;
	color: var(--wp--preset--color--foreground);
	border-color: rgb(0 0 0 / 5%);
	box-shadow: var(--wp--custom--button-highlight);
	filter: brightness(93%) !important;
}

.wp-block-button__link:visited {
	color: var(--wp--preset--color--foreground);
	background-color: initial;
	border-color: rgb(0 0 0 / 5%);
	box-shadow: var(--wp--custom--small-button-shadow);
}

.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
	padding: var(--wp--custom--button-padding);
}

/* Match the editor */
.wp-block-buttons > .wp-block-button {
	margin-top: 0.5em;
}

.wp-block-button__link svg {
	vertical-align: middle;
	fill: currentcolor;
}
